.container{
    height: 500px;
    width: 500px;
    background-color: skyblue;
    position: relative;
    margin-bottom: 50px;
    margin-left: 10px;
}

.header{
    top: 20px;
    left: 20px;
    position: relative;
    
    
}

.box1{
    height: 50px;
    width: 50px;
    background-color: red;
    right: 0px;
    bottom: 0px;
    display: flex;
    position: absolute;
}

.box2{
    background-color: blue;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
}


.container2{
    position: relative;
    width: 100%;
    background-color: yellow;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

body{
    margin: 0px;
}

.box3{
    height: 100px;
    width: 100px;
    background-color: tomato;
    margin-left: -100px;
    margin-right: -100px;

}

.list{
    margin-left: 20px;
}