.box{

    height: 50px;
    width: 50px;
    background-color: red;
    display: flex;
    margin-right: 10px;
    position: relative;
}

.container{
    display: flex;
    justify-content: right;
    align-items: right;
    
}

.innerbox{

    background-color: green;
    height: 20px;
    width: 20px;
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;

}

.box2{

    height: 50px;
    width: 50px;
    background-color: blue;
    position: relative;
    justify-content: center;
    align-items: center;
}

.box3{
    height: 50px;
    width: 50px;
    background-color: purple;
    bottom: -5px;
    right: -5px;
    position: absolute;
}


.container2{
    height: 300px;
    width: 300px;
    background-color: lightblue;
    display: flex;
    position: relative;
    top:0px;
    left:100px;
    justify-content: center;
    align-items: center;
}